<div class="mt-4">
  <form action="/product" method="get">
    <div class="form-group">
      <label for="search-input">Từ khóa</label>
      <input
        type="text"
        class="form-control"
        id="search-input"
        placeholder="Nhập từ khóa"
        name="q"
      />
    </div>
    <button type="submit" class="btn btn-primary">Tìm kiếm</button>

  </form>

</div>